<form id="event-edit-form" data-tripid="{{tripId}}" data-eventid="{{event._id}}">
  <h3>Edit Event</h3>
  <label for="event-edit-title">Event Title</label>
  <input id="event-edit-title" class="form-control" type="text" name="event[title]" placeholder='E.g. Friday Night Dinner' value="{{event.title}}" required>
  <label for="event-edit-body">Event Details</label>
  <textarea id="event-edit-body" class="form-control" type="text" name="event[body]" placeholder='E.g. Dinner at the Steak House' required rows="2">{{event.body}}</textarea>
  <button id="event-edit-button" type="submit" class="btn btn-outline-success">Edit</button>
</form>
