@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(227, 231, 255);
}

.nav-icon {
  border-radius: 15px;
  margin-right: 5px;
}

h1 {
  text-align: center;
}

.auth-form {
  margin: 0 auto;
  width: 400px;
  text-align: center;

  input,
  button {
    display: block;
    margin: 5px auto;
  }
}

.success {
  color: green;
}

.failure {
  color: red;
}

.hidden {
  display: none;
}
