@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(227, 231, 255);
}

.nav-icon {
  border-radius: 15px;
  margin-right: 5px;
}

h1 {
  text-align: center;
}

.auth-form {
  margin: 0 auto;
  width: 400px;
  text-align: center;

  input,
  button {
    display: block;
    margin: 5px auto;
  }
}

.trip-form {
  margin: 0 auto;
  width: 325px;
  // text-align: center;

  input,
  button {
    display: block;
    margin: 0 auto;
  }
}

.trip {
  border: 1px solid black;
  padding: 10px 40px;
  width: 450px;
  margin: 5px auto;
  background-color: white;

  h5 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.success {
  color: green;
}

.failure {
  color: red;
}

.hidden {
  display: none;
}
